<%- include('../partials/head'); %>
<body class="container-fluid">
    <%- include('../partials/header'); %>
    <section>
        <div class="page-header">
            <h1 class="text-dark">Departments</h1>
            <!-- <span class="mx-4">Pre-Register a Visitors</span> -->
        </div>
    </section>
    <!-- <section class="section-preregister px-3"> -->
        <!-- <form action="/add_departments" method="post"> 
            <div class="row my-3">
                <div class="col-5 form-design">
                    <label class="form-label fw-bold">Add Department</label>
                    <div class="d-flex">
                        <div class="mb-3 col-md-8 col-sm-12">
                            <input type="text" class="form-control" id="department_name" name="department_name" placeholder="Department name" required/>
                        </div>
                        <div class="col-md-3 col-sm-5 d-flex mx-3">
                            <input type="submit" value="Add" class="btn btn-primary btn-block text-light text-uppercase mb-3">
                        </div>
                    </div>
                </div>
            </div>
        </form> -->
       

         <!-- Click on Modal Button -->
         <section class="section-department my-3">
            <button type="button" class="btn btn-sample mx-auto text-light btn-design my-3" data-bs-toggle="modal" data-bs-target="#department_id">
                Add Department
            </button>
            <div class="modal fade" id="department_id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header text-light">
                            <h3 class="modal-title" id="exampleModalLabel">New Department</h3>
                            <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/add_departments" method="post">
                                <div class="row">
                                    <label class="form-label fw-bold">Add Department</label>
                                    <div class="d-flex">
                                        <div class="mb-3 col-md-8 col-sm-12">
                                            <input type="text" class="form-control" id="department_name" name="department_name" placeholder="Department name" required/>
                                        </div>
                                        <div class="col-md-3 col-sm-5 d-flex mx-3">
                                            <input type="submit" value="Add" class="btn btn-sample btn-block text-light text-uppercase mb-3">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>


       

       <!--    TABLE FOR DEPARTMENTS LIST   -->
       <section class="section-table my-4">
            <table id="example" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>S No.</th>
                        <th>Deparment Name</th>
                        <th>Action</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    <% if (departmentData && departmentData.length !== 0) { %>
                        <% departmentData.forEach(function(data, index) { %>
                        <tr>
                        
                            <form action="/delete_department" method="post">
                                <input type="hidden" id="department_id" name="department_id" value="<%=data.id%>" >

                            <td><%= index + 1 %></td>
                            <td><%= data.department_name %></td>
                            <td><button type="Submit" aria-label="Delete"> Delete </button></td>
                            <td><button type="Submit" aria-label="Update"> Update </button></td>

                            </form>
                     
                        </tr>
                        <% }); %>
                    <% } else { %>
                        <tr>
                        <td colspan="3">No Data Found</td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </section>
       <!-- Table department ends -->


    <!-- </section> -->
    
    <%- include('../partials/footer'); %>
</body>
</html>