<%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
<div class="container-fluid">
    <section>
        <div class="page-header">
            <h1 class="text-dark">Employees</h1>
            <!-- <span class="mx-4">Pre-Register a Visitors</span> -->
        </div>
    </section>
    <section class="section-employees">
        <!-- Click on Modal Button -->
        <button type="button" class="btn btn-sample mx-auto text-light btn-design" data-bs-toggle="modal" data-bs-target="#modalForm2">
            Add new Employee
        </button>
        <!-- Modal -->
        <div class="modal fade" id="modalForm2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header text-light">
                        <h3 class="modal-title" id="exampleModalLabel">New Employee</h3>
                        <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/add_employees" method="post" >
                            <!-- enctype="multipart/form-data" -->
                            <h4 class="text-dark px-3 my-3">Employee details</h4>
                            <div class="row">
                                <div class="mb-3 col">
                                    <label for="full_name" class="form-label">Full Name <span>*</span></label>
                                    <input type="text" class="form-control" id="full_name" name="full_name" placeholder="Full Name" required/>
                                </div>
                                <div class="mb-3 col">
                                    <label class="form-label">Alternative Name</label>
                                    <input type="text" class="form-control" id="alt_name" name="alt_name" placeholder="Alternative Name" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col">
                                    <label class="form-label">Email address<span>*</span></label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Email address" required />
                                </div>
                                <div class="mb-3 col">
                                    <label class="form-label">Mobile number <span>*</span></label>
                                    <input type="tel" class="form-control" id="mobile_number" name="mobile_number" placeholder="Mobile Number"  required/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col">
                                    <label class="form-label">Department<span>*</span></label>
                                    <select class="form-control" id="department_id" name="department_id" required>
                                        <option value="">Select Department</option>
                                        <% departments.forEach(function(department) { %>
                                            <option value="<%= department.id %>"><%= department.department_name %></option>
                                        <% }); %>
                                    </select>
                                </div>
                                <div class="mb-3 col">
                                    <label class="form-label">Job Title<span>*</span></label>
                                    <input type="text" class="form-control" id="job_title" name="job_title" placeholder="Job Title"  required/>
                                </div>
                            </div>
                            <div class="row">
                                <!-- <div class="mb-3 col">
                                    <label class="form-label">Employee role type</label>
                                    <select class="form-control" id="emp_role_type" name="emp_role_type">
                                        <option>Admin</option>
                                        <option>user</option>
                                    </select>
                                </div> -->
                                <!-- <div class="mb-3 col form-group">
                                    <label for="photo">Select a photo:</label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="photo" name="photo" accept="image/*">
                                        <label class="custom-file-label" for="photo">Choose file</label>
                                    </div>
                                </div> -->
                            </div>
                            <div class="modal-footer">
                                <!-- <input type="submit" value="Add" class="btn btn-primary btn-block text-light text-uppercase mb-3"> -->

                                <button type="submit" class="btn btn-sample text-light text-uppercase mb-3">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Showing result of the employees -->
    <section class="table-employees mt-3">
        <table id="example" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>S No.</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile Number</th>
                    <th>Department</th>
                    <th>Job Title</th>
                    <!-- <th>User Role</th> -->
                    <th>Action</th>
                </tr>
            </thead>
            
            <tbody>
                <% if (employeesData && employeesData.length !== 0) { %>
            <% employeesData.forEach(function(data, index) { %>
                <tr>

                <form action="/delete_employees" method="post">
                    <input type="hidden" id="employees_id" name="employees_id" value="<%=data.id%>" >

                    <td><%= index + 1 %></td>
                    <td><%- data.full_name %></td>
                    <td><%- data.email %></td>
                    <td><%- data.mobile_number %></td>
                    <td><%- data.department_name %></td>
                    <td><%- data.job_title %></td>
                    <td>
                        <button onclick="return confirmdelete()" type="submit" aria-label="Delete" class="btn btn-danger">Delete</button>
                        <button type="Submit" aria-label="Update" class="btn btn-warning"> Update </button>
                    </td>
                    
                </form>  

                </tr>
                <% }); %>
            <% } else { %>
                <tr>
                    <td colspan="7">No Data Found</td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </section>
</div>
    <script>
        function confirmdelete() {
            // Display a confirmation dialog
            let userConfirmed = confirm("Are you sure you want to delete?");
            
            // If the user confirms, submit the form for deletion
            return userConfirmed;
        }
    </script>

    <%- include('../partials/footer'); %>
</body>
</html>
