<%- include('../partials/head'); %>
<body class="container-fluid">
    <%- include('../partials/header'); %>
    <section>
        <div class="page-header">
            <h1 class="text-dark">Departments</h1>
        </div>
    </section>

    <!-- Click on Modal Button -->
    <section class="section-department my-3">
        <button type="button" class="btn btn-sample mx-auto text-light btn-design my-3" data-bs-toggle="modal" data-bs-target="#updateDepartmentModal">
            Update Department
        </button>
        <div class="modal fade" id="updateDepartmentModal" tabindex="-1" aria-labelledby="updateDepartmentModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header text-light">
                        <h3 class="modal-title" id="updateDepartmentModalLabel">Update Department</h3>
                        <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="/save/<%= departmentData[0] ? departmentData[0].ID : '' %>" onsubmit="return confirm('Are you sure you want to save changes?')">
                            <div class="row">
                                <label class="form-label fw-bold">Update Department</label>
                                <div class="d-flex">
                                    <div class="mb-3 col-md-8 col-sm-12">
                                        <input type="text" class="form-control" name="updated_department_name" placeholder="Department name" value="<%= departmentData[0] ? departmentData[0].department_name : '' %>">
                                    </div>
                                    <div class="col-md-3 col-sm-5 d-flex mx-3">
                                        <input type="submit" value="Update" class="btn btn-sample btn-block text-light text-uppercase mb-3">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('../partials/footer'); %>
</body>
</html>
