<%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
<div class="container-fluid">
    <section>
        <div class="page-header">
            <h1 class="text-dark">My Visitors</h1>
            <!-- <span class="mx-4">Pre-Register a Visitors</span> -->
        </div>
    </section>
    <section class="section-preregister">
        <!-- Click on Modal Button -->
        <button type="button" class="btn btn-sample mx-auto text-light btn-design mb-3" data-bs-toggle="modal" data-bs-target="#modalForm">
            Pre-Register a visitor
        </button>
        <!-- Modal -->
        <div class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header text-light">
                        <h3 class="modal-title" id="exampleModalLabel">Pre-Register a Visitor</h3>
                        <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <form action="/visitors" method="post" >
                            <h4 class="text-dark px-3 my-3">Visitor's details</h4>
                            <div class="row">
                                <div class="mb-3 col">
                                    <label class="form-label">Full Name <span>*</span></label>

                                    <input type="text" class="form-control" id="visitors_full_name" name="visitors_full_name" placeholder="Enter the first and last name of visitor" />
                                </div>
								
								<div class="mb-3 col">
                                    <label class="form-label">From <span>*</span></label>
                                    <input type="text" class="form-control" id="fromCompany" name="fromCompany" placeholder="Visitor's Company Name" />

                                </div>
                            </div>
							
							<div class="row">
                                <div class="mb-3 col">
                                    <label class="form-label">Visitor's email address</label>
                                    <input type="text" class="form-control" id="email" name="email" placeholder="Enter the visitor's email address" />
                                </div>
                                <div class="mb-3 col">
                                    <label class="form-label">Mobile number <span>*</span></label>
                                    <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Phone" />
                                </div>
							</div>
							
                            <h4 class="text-dark px-3 my-3">Event's details</h4>

                            <div id="wrapper">
                                <label for="yes_no_radio">Do you agree to the Health and Safety terms?</label>
                              <p>
                              <input type="radio" name="yes_no" checked>Yes</input>
                              </p>
                              <p>
                              <input type="radio" name="yes_no">No</input>
                              </p>

                            </div>
                                  
                            <div class="mb-3">
                                    <label class="form-label">Visiting employee</label>
                                    <select class="form-control" id="employees_id" name="employees_id" required>
                                        <option value="">Select Employee</option>
                                            <% employees.forEach(function(employees) { %>
                                                <option value="<%= employees.id %>"><%= employees.full_name %></option>
                                            <% }); %>
                                    </select>                        
                            </div>



                            <div class="row">
                                <div class="mb-3 col">
                                    <label class="form-label">Date <span>*</span></label>
                                    <input type="date" class="form-control" id="date" name="date" placeholder="Start Date" />
                                </div>
                                <div class="mb-3 col">
                                    <label class="form-label">Start time <span>*</span></label>
                                    <input type="time" class="form-control" id="start_time" name="start_time" placeholder="Start Time" />
                                </div>
                                <div class="mb-3 col">
                                    <label class="form-label">End time <span>*</span></label>
                                    <input type="time" class="form-control" id="end_time" name="end_time" placeholder="End Time" />
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Message for Sign In/Out Manager</label>
                                <textarea class="form-control" id="message" name="message" placeholder="Message" rows="3"/></textarea>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-sample text-light text-uppercase mb-3 ">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
   <!-- Showing result of the employees -->
   <section class="table-employees">
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>S No.</th>
                <th>Visitor Full Name</th>
                <th>From</th>
                <th>Email</th>
                <th>Mobile Number</th>
                <th>Visiting Employee</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Message</th>
                <th>Action</th>
            </tr>
        </thead>
        
        <tbody>
            <% if (visitorsData && visitorsData.length !== 0) { %>
        <% visitorsData.forEach(function(data, index) { %>
        <tr>
            <form action="/delete_visitors" method="post">
                <input type="hidden" id="visitors_id" name="visitors_id" value="<%=data.id%>" >

                    <td><%= index + 1 %></td>
                    <td><%- data.visitors_full_name %></td>
                    <td><%- data.fromCompany %></td>
                    <td><%- data.email %></td>
                    <td><%- data.mobile %></td>
                    <td><%- data.full_name %></td>
                    <td><%- data.date.toLocaleDateString() %></td>
                    <td><%- data.start_time %></td>
                    <td><%- data.end_time %></td>
                    <td><%- data.message %></td>
                <td>
                    <button onclick="return confirmdelete()" type="submit" aria-label="Delete" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#updateModal<%= data.id %>">
                        Update
                    </button>
                </td>
            </form>
        </tr>

    <!-- Bootstrap Modal for Update -->
            <div class="modal fade" id="updateModal<%= data.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header text-light">
                            <h3 class="modal-title" id="exampleModalLabel">Update Pre-register a Visitor</h3>
                            <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="/save_visitors/<%= data.id %>">
                                <h4 class="text-dark px-3 my-3">Update Visitor's details</h4>
                                <div class="row">
                                    <div class="mb-3 col">
                                        <label class="form-label">Full Name <span>*</span></label>
                                        <input type="text" class="form-control" id="new_visitors_full_name" name="new_visitors_full_name" value="<%= data.visitors_full_name %>" required/>
                                    </div>
                                    <div class="mb-3 col">
                                        <label class="form-label">From <span>*</span></label>
                                        <input type="text" class="form-control" id="new_fromCompany" name="new_fromCompany" placeholder="Visitor's Company Name" value="<%= data.fromCompany %>" required/>
                                    </div>
                                </div>
                            
                                <div class="row">
                                    <div class="mb-3 col">
                                        <label class="form-label">Visitor's email address</label>
                                        <input type="text" class="form-control" id="new_email" name="new_email" placeholder="Enter the visitor's email address" value="<%= data.email %>" required/>
                                    </div>
                                    <div class="mb-3 col">
                                        <label class="form-label">Mobile number <span>*</span></label>
                                        <input type="text" class="form-control" id="new_mobile" name="new_mobile" placeholder="Phone" value="<%= data.mobile %>" required/>
                                    </div>
                                </div>
                            
                                <h4 class="text-dark px-3 my-3">Event's details</h4>
                            
                                <div id="wrapper">
                                    <label for="yes_no_radio">Do you agree to the Health and Safety terms?</label>
                                    <p>
                                        <input type="radio" name="yes_no" checked>Yes</input>
                                    </p>
                                    <p>
                                        <input type="radio" name="yes_no">No</input>
                                    </p>
                                </div>
                            
                                <div class="mb-3">
                                    <label class="form-label">Visiting employee</label>
                                    <select class="form-control" id="employees_id" name="employees_id" required>
                                        <option value="">Select Employee</option>
                                        <!-- Use forEach to dynamically generate options and set the selected attribute -->
                                        <% employees.forEach(function(employee) { %>
                                            <option value="<%= employee.id %>" <%= employee.id === data.employees_id ? 'selected' : '' %>>
                                                <%= employee.full_name %>
                                            </option>
                                        <% }); %>
                                    </select>
                                </div>
                            
                                <div class="row">
                                    <div class="mb-3 col">
                                            <label class="form-label">Date <span>*</span></label>
                                            <!-- Set the value attribute for the date field -->
                                            <input type="date" class="form-control" id="new_date" name="new_date" placeholder="Start Date" value="<%= data.date %>" required/>
                                    </div>
                                    <div class="mb-3 col">
                                        <label class="form-label">Start time <span>*</span></label>
                                        <input type="time" class="form-control" id="new_start_time" name="new_start_time" placeholder="Start Time" value="<%= data.start_time %>" required/>
                                    </div>
                                    <div class="mb-3 col">
                                        <label class="form-label">End time <span>*</span></label>
                                        <input type="time" class="form-control" id="new_end_time" name="new_end_time" placeholder="End Time" value="<%= data.end_time %>" required/>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Message for Sign In/Out Manager</label>
                                    <textarea class="form-control" id="new_message" name="new_message" placeholder="Message" rows="3" required><%= data.message %></textarea>
                                </div>
                            
                                <div class="modal-footer">
                                    <!-- Update Button -->
                                    <button type="submit" class="btn btn-sample text-light text-uppercase mb-3">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <% }); %>
        <% } else { %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
        </tbody>
    </table>
</section>

</div>

    <%- include('../partials/footer'); %>
</body>
</html>
